@model src.Models.TextoViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="h-100 d-flex justify-content-center" >
    <div class="mt-5" style="min-width: 900px">
            <h1>Publicar Artigo</h1>
            <hr />
            <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Texto.Titulo" class="control-label"></label>
                <input asp-for="Texto.Titulo" class="form-control" />
                <span asp-validation-for="Texto.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto.Data" class="control-label"></label>
                <input asp-for="Texto.Data" class="form-control" type="date"/>
                <span asp-validation-for="Texto.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto.Tipo" class="control-label"></label>
                <select asp-for="Texto.Tipo" class="form-control" asp-items="Html.GetEnumSelectList<ClassificacaoTexto>()"></select>
                <span asp-validation-for="Texto.Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto.Artigo" class="control-label"></label>
                <textarea asp-for="Texto.Artigo" class="form-control" style="height: 250px"></textarea>
                <span asp-validation-for="Texto.Artigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-floating mb-3">
                    <input type="submit" value="Salvar" class="btn btn-success" />
                </div>
            </div>
        </form>
        </div>
</div>

<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
