@model src.Models.Avaliacao

<div class="row p-lg-5">
    <div class="w-100">
        <h3>Sobre o texto, como voce avalia o entendimento ?</h3>
        <hr/>
        <form asp-action="Create" class="mt-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entendimento" class="control-label"></label>
                <select asp-for="Entendimento" class="form-control" asp-items="Html.GetEnumSelectList<Entendimento>()"></select>
                <span asp-validation-for="Entendimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <textarea asp-for="Comentario" class="form-control" style="height: 100px"></textarea>
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="IdTexto" value="" id="id_texto" />
            <div class="form-group mt-5">
                <input type="submit" value="Concluir avaliação" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

    <script>
        const [,id] = document.location.href.split('Details');

        const inputIdTexto = document.getElementById("id_texto")

        inputIdTexto.value = id.replace('/','');
    </script>


