@model src.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-around h-100" style=justify-content: center; max-width: fit-content; margin-right 180px">
    <div class="col-md-4 row align-items-center">
        <div class="w-100">

        <h2>Que bom ter você de volta !</h2>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
                <div class="form-floating mb-3">
                <input asp-for="Senha" class="form-control" placeholder="Senha" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
                <div class="form-floating mb-3">
                    <input type="submit" value="Login" class="btn btn-success" />
            </div>
        </form>
        </div>

    </div>
    <div class="col-md-4 row align-items-center">
        <div class="w-100">
        <h2>Quero criar minha conta !</h2>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                <input asp-for="Nome" class="form-control" placeholder="Nome" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
                <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
                <div class="form-floating mb-3">
                <input asp-for="Senha" class="form-control" placeholder="Senha" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
                <div class="form-floating mb-3">
                    <input type="submit" value="Criar Conta" class="btn btn-success" />
            </div>
        </form>
        </div>
    </div>
    <h3>@ViewBag.message</h3>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
